<div class="breadcrumbs breadcrumbs-reviews">
  <div class="container">
    <ul class="breadcrumbs__list breadcrumbs-reviews__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link-product" href="#">Home</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link-product" href="#">Catalog</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs__link-product" href="#">Trousers in cotton</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link breadcrumbs-reviews__link">Reviews</a>
      </li>
    </ul>
  </div>
</div>