<section class="join-us">
  <div class="join-us__inner">
    <picture>
      <source srcset="images/join-us-img.avif" type="image/avif">
      <source srcset="images/join-us-img.webp" type="image/webp">
      <img class="join-us__img" src="images/join-us-img.jpg" alt="D. Backham is in a suit">
    </picture>
    <div class="join-us__box">
      <h2 class="join-us__title">Join us</h2>
      <p class="join-us__text">Sign up and get 10% discount on your first purchase!</p>
      <form class="join-us__form" action="">
        <label for="first name" aria-label="Enter your first name"></label>
        <input class="join-us__input" id="first name" type="text" placeholder="First Name">

        <label for="user-email" aria-label="Enter your email"></label>
        <input class="join-us__input" id="user-email" type="email" placeholder="Email">

        <button class="big-btn join-us__btn" type="submit">Get 10%</button>
        <p class="join-us__form-capture">*By compleating this form you are signing up to receive our emails and can
          unsubscribe at any time.</p>
      </form>
    </div>
  </div>
</section>